{{ partial "header.html" . }}


<div class="container-fluid bg-3 text-center">    
{{ range .Data.Pages }}
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-3"> 
		<div class="post">
			<span class="posthead">{{ .Title }}</span>
		</div>
	</div>
	<div class="col-sm-5"> 
		<div class="post">
			 {{ .Content }} 
		</div>
	</div>
	<div class="col-sm-2"> 
	</div>
  </div>
{{ end }}
</div>

<!-- div class="container-fluid bg-3 text-center">    
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-8"> 
	  <p class="post"><span class="posthead">Die Anmeldung</span><br/>...<br/>Online-Anmeldung</p>
	</div>
	<div class="col-sm-2"> 
	  <p></p>
	</div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-8"> 
	  <p class="post"><span class="posthead">Interesse?</span><br/>...<br/>Sie haben Interesse und möchten eine Einladung?</p>
	</div>
	<div class="col-sm-2"> 
	  <p></p>
	</div>
  </div>
</div -->

{{ partial "footer.html" .}}