<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valball 2017</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./mirecss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: darkred;
	  border : none;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Valball</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Ball</a></li>
        <li><a href="#">Anmeldung</a></li>
        <li><a href="#">Anreise</a></li>
        <li><a href="#">Wissenswertes</a></li>
        <li><a href="#">Packen</a></li>
        <li><a href="#">Fotos</a></li>
        <li><a href="#">Rückblick</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul-->
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Valball 2017	</h1>      
    <p>Coming soon...</p>
  </div>
</div>




<div class="container-fluid bg-3 text-center">    
  <!--h3>Informationen</h3><br-->
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-8"> 
	  <p class="post"><span class="posthead">Preise</span><br/>...<br/>asdf löajdf alödsf jaöldfj aöldf jalödf</p>
	</div>
	<div class="col-sm-2"> 
	  <p></p>
	</div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <!--h3>Informationen</h3><br-->
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-8"> 
	  <p class="post"><span class="posthead">Die Anmeldung</span><br/>...<br/>Online-Anmeldung</p>
	</div>
	<div class="col-sm-2"> 
	  <p></p>
	</div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <!--h3>Informationen</h3><br-->
  <div class="row">
	<div class="col-sm-2">
	  <p></p>
	</div>
	<div class="col-sm-8"> 
	  <p class="post"><span class="posthead">Interesse?</span><br/>...<br/>Sie haben Interesse und möchten eine Einladung?</p>
	</div>
	<div class="col-sm-2"> 
	  <p></p>
	</div>
  </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
