<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valball 2017</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/img/valball_favicon.ico">
  <link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}/css/sinestra.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
  {{ if .RSSlink }}
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
	  /*background-color: darkred;*/
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  border : none;
    }
    
    /* Add a gray background color and some padding to the footer */
      /* background-color: #f2f2f2; */
    footer {
      padding: 25px;
    }
  </style>
</head>
<body class="{{ .Site.Params.colorScheme }}">
<!--nav class="navbar navbar-inverse"-->
<nav class="navbar navbar  navbar-fixed-top " >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">Valball 2017</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
            <li>
            <a href="{{.URL}}">
                <span>{{ .Name }}</span>
            </a>
			</li>
          {{end}}			
 


	  <!--li class="active"><a href="/categories/news">Home</a></li>
        <li><a href="/tags/ball">Ball</a></li>
        <li><a href="/tags/anmeldung">Anmeldung</a></li>
        <li><a href="/tags/anreise">Anreise</a></li>
        <li><a href="/tags/info">Wissenswertes</a></li>
        <li><a href="/tags/packen">Packen</a></li>
        <li><a href="/tags/foto">Fotos</a></li>
        <li><a href="/tags/rueckblick">Rückblick</a></li>
        <li><a href="/tags/kontakt">Kontakt</a></li-->
      </ul>
      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul-->
    </div>
  </div>
</nav>

<div class="jumbotron " >
  <div class="container text-center">
  <!--img src="img/valball_logo_8.png" /-->
    <h1> Valball 2017	</h1>      
    <p>Coming soon...</p>
  </div>
</div>

