<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valball 2017</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./mirecss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color: darkred;
	  border : none;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color: #134f7d">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Valball</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul-->
    </div>
  </div>
</nav>

<div class="jumbotron" style="color: #134f7d; background-color: #f2f2f2">
  <div class="container text-center">
    <h1>Valball 2017	</h1>      
    <p>Coming soon...</p>
  </div>
</div>

  
<div class="container-fluid bg-3 text-center">    
  <!--h3>Informationen</h3><br-->
  <div class="row">
    <a href="#">
		<div class="col-sm-3">
		  <p class="abstract"><span class="abstracthead">Der Ball</span></p>
		</div>
	</a>
    <a href="#anmeldung">
		<div class="col-sm-3"> 
		  <p class="abstract"><span class="abstracthead">Die Anmeldung</span><br/>Registrierung / Online-Anmeldung</p>
		</div>
	</a>
    <a href="#">
		<div class="col-sm-3"> 
		  <p class="abstract"><span class="abstracthead">Wissenswertes</span></p>
		</div>
	</a>
    <a href="#">
		<div class="col-sm-3"> 
		  <p class="abstract"><span class="abstracthead">Jungtänzer</span></p>
		</div>
	</a>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3"> 
      <p class="abstract"><span class="abstracthead">Die Anreise</span></p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p class="abstract"><span class="abstracthead">Das Hotel</span></p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p class="abstract"><span class="abstracthead">Fotos</span></p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p class="abstract"><span class="abstracthead">Rückblick</span></p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center" style="background-color: lightgrey">
  <p>Footer Text</p>
</footer>

</body>
</html>
